/*=========================================================
  Start Header
=========================================================*/
@media (max-width: 992px) {
}
/*-------------------------------------------------------------------------*/
@media (max-width: 768px) {
  ul {
    padding-top: 20px;
  }
}
.mt-5,
.my-5 {
  margin-top: 5rem !important;
}
/*-------------------------------------------------------------------------*/
@media (max-width: 556px) {
  .mt-5,
  .my-5 {
    margin-top: 1rem !important;
  }
}
/*-------------------------------------------------------------------------*/
@media (max-width: 480px) {
  .mt-5,
  .my-5 {
    margin-top: 0rem !important;
  }
}

@media (max-width: 320px) {
}

@media (max-width: 290px) {
  .navbar-toggler {
    margin-top: 8px;
  }
}
/*End Header*/

/* --------------------------------Cab Section Responsiveness -------------------------*/
@media (max-width: 991px) {
  .cab-right {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .cab-right {
    margin: auto;
  }
}

@media (max-width: 556px) {
  .cab .cab-left h1 {
    font-size: 36px;
    color: #101010;
    font-weight: bold;
  }
}

@media (max-width: 480px) {
  .cab-right {
    width: 320px;
  }
}
@media (max-width: 320px) {
  .cab-left {
    padding: 20px;
  }
  .cab .cab-left h4 {
    font-size: 25px;
  }
  .cab .cab-left h1 {
    font-size: 33px;
  }
  .cab-right {
    width: 320px;
  }
}
/* -----------------------------------------270----------------------------------------*/
/* @media (max-width: 270px) {
  .cab-right {
    width: 290px !important;
  }
} */

/* ===========================cad from right==================== */

@media (max-width: 480px) {
  .cab-right {
    width: 250px;
  }
  .cab .cab-right form input[type="text"] {
    width: 193px;
  }
}

@media (max-width: 320px) {
  .cab-right {
    width: 250px;
  }
  .cab .cab-right form input[type="text"] {
    width: 193px;
  }
}

@media (max-width: 290px) {
  .cab-right {
    width: 225px;
  }
  .cab .cab-right form input[type="text"] {
    width: 193px;
  }
}

/* Start Card =============================================*/

/* srar card ===========================*/
@media (max-width: 1400px) {
  .card-star img {
    margin-left: 104px;
    position: absolute;
    display: none;
  }
}
@media (max-width: 1200px) {
  .card-star img {
    margin-left: 104px;
    position: absolute;
    display: none;
  }
}

@media (max-width: 992px) {
  .card-star img {
    margin-left: 74px;
    position: absolute;
    display: none;
  }
  .card {
    padding-bottom: 85px;
  }
}
@media (max-width: 768px) {
  .card {
    margin-top: 100px;
    display: none;
  }
  .card-star img {
    margin-left: 274px;
    position: absolute;
    display: none;
  }
}
@media (max-width: 556px) {
  .card-star img {
    margin-left: 192px;
    position: absolute;
    display: none;
  }
}
@media (max-width: 480px) {
  .card-star img {
    margin-left: 1px;
    position: absolute;
    display: none;
  }
}

/* End Card ===================================== */
